html, body {
    margin: 0;
    padding: 0;

    font-family: "Helvetica";
    background-image: linear-gradient(to bottom, white, ghostwhite, aliceblue);
}

table, td, th {
  border: 1px solid #4a80e0;
  border-collapse: collapse;
  text-align: center;
}
table {
  margin-left: auto;
  margin-right: auto;
}
th {
  background-color: silver;
}

button {
  font-family: "Helvetica";
  font-size: 75%;
  cursor: pointer;
  font-weight: 700;

  border-radius: 2px;
  border: none;
  background-color: lightblue;
  padding: 10px;
}

div#checkoutContent {
    margin: 2em;
}

div#checkoutContent h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 200;
}

div.product-box {
    border: 2px solid #4a80e0;
    padding: 6px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

span.itemCartQuantity {
    /*
    background-color: #add7af;
    border: 2px solid #9cc29e;
    */
    background-color: lightblue;
    padding: 6px;
    border-radius: 2px;
}

div.quantityCartSection {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

div.quantityCartSection p {
  margin-right: 10%;
}

div.quantityCartSection button {
  align-self: center;
}
