html, body {
    margin: 0;
    padding: 0;
}

header, 
div#navBarMenu, 
div#navBarSearchItems, 
div#navBarSearchStateItems, 
div#searchPriceFilterContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
}

header {
    background-color: #5d8a60;
    color: #fff;
    font-size: 18px;
}

div#navBarTitle {
    font-size: 20px;
    font-weight: bold;
    padding-right: 2em;
}

ul#navBarLinks {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul#navBarLinks li {
    display: inline-block;
}

ul#navBarLinks li a {
    display: block;
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding: 1em;
}

ul#navBarLinks li a:hover {
    background-color: #426345;

}

div#navBarSearchBar button {
    cursor: pointer;
}