html, body {
    margin: 0;
    padding: 0;

    font-family: "Helvetica";
    background-image: linear-gradient(to bottom right, white, ghostwhite, lightskyblue);
}

button {
  font-family: "Helvetica";
  font-size: 75%;
  cursor: pointer;
  font-weight: 700;
  text-transform: uppercase;

  border-radius: 2px;
  border: none;
  background-color: lightblue;
  padding: 10px;
}

button#navBarSearchBtn {
  font-size: 65%;
}

#searchBar {
  font-size: 70%;
  padding: 8px;
}

header,
div#navBarMenu,
div#navBarSearchItems,
div#navBarSearchStateItems,
div#searchPriceFilterContainer,
div#searchBrandFilterContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.2em 1em;

    font-family: "Helvetica";
}

header {
    /*background-color: #5d8a60;*/
    background-color: cornflowerblue;
    color: #fff;
    font-size: 18px;
}

div#navBarTitle {
    font-size: 20px;
    font-weight: bold;
    padding-right: 2em;
}

ul#navBarLinks {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 15px;
}

ul#navBarLinks li {
    display: inline-block;
}

ul#navBarLinks li a {
    display: block;
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding: 1em;
}

ul#navBarLinks li a:hover {
    /*background-color: #426345;*/
    background-color: #4a80e0;
    cursor: pointer;
}

div#mainContent {
    margin: 2em;
}

div#mainContent h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 200;
}

h1.phoneListingHeading {
    text-align: center;
    font-size: 30px;
    font-weight: 50;
}

div.phoneListingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

div.phoneCard, img.phoneCardImg {
    width: 14em;
    /*border-radius: 13px;*/
}

div.phoneCard {
    background-color: white;
    box-shadow: 0px 10px 25px 0px rgba(97, 97, 105, 0.3);
    padding: 1em;
    margin: 1em;
    /*border: 3px solid #9cc29e;*/
}

div.phoneCard:hover {
  transform: scale(1.02);
  transition-duration: 0.5s;
}

div.phoneCardImgContainer,
div.phoneCardDescContainer {
    width: 100%;
}

button.phoneCardViewBtn {
  width: 90%;
}

button.phoneCardViewBtn:hover {
  cursor: pointer;
}

div.phoneCardDescContainer {
    text-align: center;
}

div.phoneCardDescContainer h3 {
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.phoneCardDescContainer h4 {
    font-weight: 200;
}

div.itemListingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    width: 96%;
    box-shadow: 0px 5px 10px 0px rgba(97, 97, 105, 0.3);
    padding: 2%;
    margin: 0 auto;
    background-color: white;
}

div.itemImgContainer {
    width: 25%;
    padding: 0em 2em 0em 2em;
}

div.itemImgContainer img {
    align-self: right;
    width: 100%;
    border-radius: 20px;
}

div.itemInfoContainer {
    width: 60%;
}

span.itemCartQuantity {
    /*
    background-color: #add7af;
    border: 2px solid #9cc29e;
    */
    background-color: lightblue;
    padding: 6px;
    border-radius: 2px;
}

div.quantityCartSection {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

div.quantityCartSection p {
  margin-right: 10%;
}

div.quantityCartSection button {
  align-self: center;
}

div.itemAllReviews {
    margin: 1em auto;
}

div.itemReview {
  box-shadow: 0px 5px 10px 0px rgba(97, 97, 105, 0.3);
  border-top: none;
  background-color: white;
  padding: 1%;
}

div.itemReviewTop {
  display: flex;
  align-items: center;
}

div.itemReviewTop p {
  font-weight: 600;
}

div.ratingStars {
  margin-left: auto;
}

span.itemReviewRating {
    color: #ecc900;
}

span.itemReviewRatingEmpty {
    color: #b9b9b9;
}

p.itemReviewComment {
  font-weight: 400;
  padding-left: 1em;
  font-size: 80%;
}

div.itemAllReviews button {
  margin-top: 1.5em;
}

div.itemAddReviewContainer h4 {
    margin: 2em auto 0.5em auto;
}

div.itemAddReviewRatingContainer {
    display: flex;
    margin: 0.5em auto;
}

div.itemAddReviewRatingContainer button {
    margin-left: auto;
}

div.itemAddReviewContainer #itemAddReviewComment {
  width: 100%;
}
