.profile-box {
  width: 80%;
  height: 60%;

  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: white;
  box-shadow: 0px 5px 10px 0px rgba(97, 97, 105, 0.3);
  padding: 2%;
}


.profile-box table {
  width: 50%;
}


.profile-box table td {
  padding: 1%;
}


#change-password-table {
  width: 50%;
  position: absolute;
  visibility: hidden;
}


#manage-listings-table {
  width: 50%;
  position: absolute;
  visibility: hidden;
}


.comments-box {
  width: 100%;
  position: absolute;
  visibility: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
}


.profile-buttons {
  margin-top: 10%;
  width: 70%;
  display: flex;
}


#sign-out-btn {
  background-color: indianred;
}


.profile-buttons button {
  margin-right: 2%;
}


.profile-buttons button:last-child {
  margin-left: auto;
  margin-right: 0;
}


.single-listing {
  width: 80%;
  height: 60%;

  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  background-color: white;
  padding: 2%;
}

.single-listing table {
  width: 70%;
}

.single-listing table tr td {
  text-align: center;
}

.single-listing img {
  width: 12%;
}


.item-review {
  border-top: none;
  background-color: white;
  padding: 2%;
  width: 80%;
}
