html, body {
  height: 100%;
}

.login-box {
  width: 60%;
  height: 60%;

  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: white;
  box-shadow: 0px 5px 10px 0px rgba(97, 97, 105, 0.3);
  padding: 1%;
}

.login-input-field {
  margin: 1%;
  width: 50%;
  display: flex;
  align-items: center;
}

.login-input-field input {
  margin-left: auto;
  width: 50%;
  padding: 0.5%;
  font-size: 100%;
}

.login-buttons {
  margin-top: 2%;
  width: 50%;
  display: flex;
}

#cancel-button {
  background-color: lightcoral;
}

#signin-button, #signup-button {
  margin-left: auto;
}

#incorrect-login-text {
  color: lightcoral;
}

.toggle-login-btn {
  text-decoration: underline;
  color: lightblue;
  cursor: pointer;
}
