<!DOCTYPE html>
<html>
    <head>
        <title>Checkout</title>
    </head>
    <body>
        <div class="top-bar">
            <button>back</button>
        </div>
        <div class="product-box">
            <label>Phone Name</label>
            <label>$</label>
            <input type="number" value="1"/>
            <button>Remove</button>
        </div>
        <div class="footer">
            <label>Total price: $</label>
            <input type="button">Confirm</input>
        </div>
    </body>
</html>