<!DOCTYPE html>
<html>
	<head>
    <title>OldPhoneDeals</title>
		<link rel="stylesheet"href="css/checkout.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
	</head>
    <body>
        <header>
            <div id="navBarMenu">
                <div id="navBarTitle">
                    OldPhoneDeals
                </div>
                <nav>
                    <ul id="navBarLinks">
                        <li><a href="/">Home</a></li>
                        <li><a>Checkout</a></li>
                        <% if (!loggedIn) { %>
                            <li><a href="#">Sign In</a></li>
                        <% } else { %>
                            <li><a href="#">Profile</a></li>
                            <li><a href="#">Sign Out</a></li>
                        <% } %>
                    </ul>
                </nav>
            </div>
            <div id="navBarSearchItems">
                <div id="navBarSearchStateItems">
                    <% if (state == "search") { %>
                    <div id="searchBrandFilterContainer">
                        <select id="searchBrandFilter">
                        </select>
                    </div>

                    <!-- TODO change the max to highest price and add value = max -->
                    <div id="searchPriceFilterContainer">
                        $min
                        <input id="searchPriceFilter" type="range" min="0" max="100">
                        $value
                    </div>
                    <% } %>
                </div>
                <div id="navBarSearchBar">
                    <input id="searchBar" type="search">
                    <button id="navBarSearchBtn">Search</button>
                </div>
            </div>
        </header>
        <div id="checkoutContent">
            
        </div>
        </div>
        <script>
            var state = "<%= state %>";
            var cart = <%- JSON.stringify(cart) %>;
        </script>
        <script src="js/main.js"></script>
        <script src="js/search.js"></script>
        <script src="js/checkout.js"></script>
    </body>
</html>