<!DOCTYPE html>
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>
<table id="change-password-table">
    <tr>
      <td>
        Current Password:
      </td>
      <td>
        <input id="pass-box" type="password" />
      </td>
    </tr>
    <tr>
        <td>
            <button>confirm</button>
        </td>
    </tr>
  </table>
  <script>
    var email = "<%= email %>";
    var uniqueString = "<%= uniqueString %>";
    
    $("button").click(async function (e) {
      let password = $("#pass-box").val();
      let params = {
        password: password,
        email: email,
        uniqueString: uniqueString
      }
      //await $.post("/user/updatePassword", params); //change the route name
      await $.post("/user/changePasswordByEmail", params); //change the route name
    })
  </script>
  <!-- <script src="js/passwordChange.js"></script> -->
  </html>