<!DOCTYPE html>
<html>
<table id="change-password-table">
    <tr>
      <td>
        Current Password:
      </td>
      <td>
        <input id="pass-box" type="password" />
      </td>
    </tr>
    <tr>
        <td>
            <button onclick="function test (e){
                server.get('/changePasswordByEmail', {email: email, uniqueString: uniqueString, password: document.getElementById('pass-box').value})
            } test();"> confirm </button>
        </td>
    </tr>
  </table>
  <script>
    var email = "<%= email %>";
    var uniqueString = "<%= uniqueString %>";
  </script>
  </html>