<!DOCTYPE html>
<html>
  <head>
    <title>OldPhoneDeals</title>
  	<link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/signin.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  </head>
  <body>
    <header>
      <div id="navBarMenu">
        <div id="navBarTitle">
            OldPhoneDeals
        </div>
        <nav>
          <ul id="navBarLinks">
            <li><a>Home</a></li>
            <li><a href="checkout">Checkout</a></li>
            <% if (!loggedIn) { %>
                <li><a>Sign In</a></li>
            <% } else { %>
                <li><a href="profile">Profile</a></li>
                <li id="sign-out-button"><a>Sign Out</a></li>
            <% } %>
          </ul>
        </nav>
      </div>
      <div id="navBarSearchItems">
        <div id="navBarSearchStateItems"></div>
        <div id="navBarSearchBar">
          <input id="searchBar" type="search">
          <button id="navBarSearchBtn">Search</button>
        </div>
      </div>
    </header>

    <h1 class="phoneListingHeading">Sign In</h1>
    <div class="login-box">
      <p id="incorrect-login-text">&nbsp;</p>
      <div class="login-input-field">
        Email:
        <input type="text" value="" />
      </div>
      <div class="login-input-field">
        Password:
        <input type="password" value="" />
      </div>

      <div class="login-buttons">
        <button id="cancel-button">Cancel</button>
        <button id="signin-button">Sign In</button>
      </div>

      <p>Click <a>here</a> to reset your password.</p>
      <p>Don't have an account yet? <a class="toggle-login-btn">Sign up</a></p>
    </div>

    <script>
      var state = "<%= state %>";
      var loggedIn = "<%= loggedIn %>";
      var mainPageData = <%- JSON.stringify(mainPageData) %>;
      var currentUser = "<%= currentUser %>";
    </script>
    <script src="js/search.js"></script>
    <script src="js/main.js"></script>
    <script src="js/shared.js"></script>
    <script src="js/signin.js"></script>
    <script src="js/signout.js"></script>
  </body>
</html>
