<!DOCTYPE html>
<html>
  <head>
    <title>OldPhoneDeals</title>
  	<link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/signin.css">
    <link rel="stylesheet" href="css/signout.css">
    <link rel="stylesheet" href="css/profile.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  </head>
  <body>
    <header>
      <div id="navBarMenu">
        <div id="navBarTitle">
            OldPhoneDeals
        </div>
        <nav>
          <ul id="navBarLinks">
            <li><a href="/">Home</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <h1 class="phoneListingHeading">Profile</h1>

    <div class="comments-box">
    </div>

    <div class="profile-box">
      <p id="top-message-text">&nbsp;</p>

      <table id="profile-info-table">
        <tr>
          <td>
            First Name:
          </td>
        </tr>
        <tr>
          <td>
            Last Name:
          </td>
        </tr>
        <tr>
          <td>
            Email:
          </td>
        </tr>
      </table>

      <table id="change-password-table">
        <tr>
          <td>
            Current Password:
          </td>
          <td>
            <input type="password" />
          </td>
        </tr>
        <tr>
          <td>
            New Password:
          </td>
          <td>
            <input type="password" />
          </td>
        </tr>
      </table>

      <table id="manage-listings-table">
        <tr>
          <td>
            Title:
          </td>
          <td>
            <input type="text" />
          </td>
        </tr>
        <tr>
          <td>
            Brand:
          </td>
          <td>
            <input type="text" />
          </td>
        </tr>
        <tr>
          <td>
            Stock:
          </td>
          <td>
            <input type="number" min="1" step="1" />
          </td>
        </tr>
        <tr>
          <td>
            Price:
          </td>
          <td>
            <input type="number" min="0" step="0.01" />
          </td>
        </tr>
        <tr>
          <td>
            Image:
          </td>
          <td>
            <select name="images" id="image-dropdown">
              <option value="/img/Apple.jpeg">Apple</option>
              <option value="/img/BlackBerry.jpeg">BlackBerry</option>
              <option value="/img/HTC.jpeg">HTC</option>
              <option value="/img/Huawei.jpeg">Huawei</option>
              <option value="/img/LG.jpeg">LG</option>
              <option value="/img/Motorola.jpeg">Motorola</option>
              <option value="/img/Nokia.jpeg">Nokia</option>
              <option value="/img/Samsung.jpeg">Samsung</option>
              <option value="/img/Sony.jpeg">Sony</option>
            </select>
            <!-- <input type="file" /> -->
          </td>
        </tr>
      </table>

      <div class="profile-buttons">
        <button id="edit-profile-btn">Edit Profile</button>
        <button id="change-password-btn">Change Password</button>
        <button id="manage-listings-btn">Manage Listings</button>
        <button id="view-comments-btn">View Comments</button>
        <button id="sign-out-btn">Sign Out</button>
      </div>
    </div>

    <div id="my-listings">
    </div>

    <script>
      var state = "<%= state %>";
      var loggedIn = "<%= loggedIn %>";
      var mainPageData = <%- JSON.stringify(mainPageData) %>;
      var currentUser = "<%= currentUser %>";
    </script>
    <script src="js/search.js"></script>
    <script src="js/main.js"></script>
    <script src="js/shared.js"></script>
    <script src="js/signout.js"></script>
    <script src="js/user.js"></script>
  </body>
</html>
